.layout {
	display: grid;
	align-content: center;
	gap: 15px;

	width: clamp(250px, calc(100% - 1em * 2), 520px);

	margin: 0 auto;
}

.title {
	text-align: center;
	font-weight: 700;
}

.card {
	width: 100%;

	border-width: 2px;
}

.content {
	display: grid;
	gap: 3em;
}

.link {
	text-align: center;
}

.question {
	font-weight: 700;
}
