.form {
	grid-template-columns: repeat(2, 1fr);
}

.sample {
	grid-column: 1 / -1;
}

.title {
	grid-column: span 2;

	text-align: center;
	font-weight: 700;
}

.selected {
	grid-column: 1 /-1;

	display: grid;
	grid-template-columns: inherit;
	gap: 0.5em;

	padding: 1em;
}

.legend {
	grid-column: 1 / -1;
}

.description {
	grid-column: span 2;
}

.button {
	grid-column: 2;
	align-self: end;
	justify-self: end;

	max-width: max-content;
}

@media (width < 640px) {
	.form {
		grid-template-columns: 1fr;
	}

	.title,
	.description,
	.button {
		grid-column: 1;
	}
}
